*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: 12px;
    font-family: Verdana;
}

header{
    display: flex;
    justify-content: center;
    height: 35px;
    background-color: black;
}

.container{
    display: flex;
    width: 80%;
    justify-content: center;
}

.redes{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.redes-left{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.redes-left nav{
    display: flex;
}

.redes-left nav ul, li{
    display: flex;
    padding: 0;
    margin: 0;
}

.redes-left nav a{
    display: block;
    padding: 7px;
}

.redes-left nav .active,
.active:hover{
    display: block;
    color: turquoise;
}

.redes-right{
    display: flex;
    align-items: center;
}

.redes-right nav {
    display: flex;
}

.redes-right nav ul, li{
    display: flex;
    padding: 0;
    margin: 0;
}

.redes-right nav a{
    display: block;
    padding: 5px;
}


.for{
    display: flex;
    align-items: center;
}

.for input{
    border: 1px solid white;
    color: black;
    height: 30px;
}

.for button{
    background-color: white;
    border: 1px solid white;
    width: 25px;
    height: 30px;
}

.titulo{
    display: flex;
    justify-content: center;
    height: 100px;
    background-color: white;
}

.titulo-pub{
    display: flex;
    justify-content: center;
    
}

.titulo-pub-conteudo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.titulo-pub-conteudo-h1{
    display: flex;
    align-items: center;
    flex: 1;
    height: 100%;
}

.titulo-pub-conteudo-h1 h1{
    color: red;
    font-size: 40px;
    text-shadow: 1px 5px 2px black;
}

.titulo-pub-conteudo-banner{
    display: flex;
    height: 100%;
    justify-content: right;
    align-items: center;
    flex: 2;
    
}

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 90%;
    background-color: red;
}

.banner h1{
    font-size: 30px;
    text-shadow: 1px 1px 1px black;
}

.menu{
    display: flex;
    height: 40px;
    background-color: red;
}

.menu1{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100%;
}

.menu-contenu{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100%;
    
}

.menu-contenu nav{
    display: flex;
    height: 100%;
    align-items: center;
}

.menu-contenu nav ul, li{
    display: flex;
    padding: 0;
    margin: 0;
    height: 100%;
    align-items: center;
}

.menu-contenu nav a{
    display: block;
    padding: 12px;
    color: white;
}

.act{
    display: flex;
    background-color: rgb(160, 6, 6);
    padding: 0px;
    margin: 0px;
}

#general{
    display: flex;
    height: 50px;
    justify-content: center;
    background-color: rgb(226, 224, 224);
}

.ultima-noticia{
    display: flex;
    align-items: center;
    height: 50px;
}

.ultima-noticia1{
    display: flex;
    background-color: white;
    width: 100%;
    height: 30px;
}

.ultima-noticia-ultima{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    background-color: red;
}

.ultima-noticia-ultima h1{
    font-size: 15px;
}

.ultima-noticia-texto{
    display: flex;
    align-items: center;
    flex: 1;
    
}

.ultima-noticia-texto p{
    margin-left: 10px;
    color: grey;
    font-size: 15px;
}

#corps{
    display: flex;
    justify-content: center;
    height: 1500px;
    background-color: rgb(226, 224, 224);
}

.corps-con section{
    display: flex;
    flex: 3;
    
}

section .foto-banners{
    display: flex;
    flex-direction: column;
}

.foto-banners-principal{
    display: flex;
    flex: 1;
    background-image: url(https://image.freepik.com/psd-gratuitas/modelo-de-web-de-banner-de-treinamento-de-boxe_23-2148578718.jpg);
    background-position: center;
    background-size: cover;
}

.foto-banners-second{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 15px;
    background-color: white;
    border: 1px solid rgb(192, 188, 188);
    
}

.foto-banners-second-titre{
    display: flex;
    align-items: center;
    height: 8%;
    background-color: rgba(212, 208, 208, 0.333);
    /* border: 1px solid rgb(192, 188, 188); */
    margin-bottom: 5px;
}

.foto-banners-second-titre h3{
    margin-left: 10px;
    color: grey;
}

.foto-banners-second-pubtext{
    display: flex;
    height: 92%;
}

.foto-banners-second-pub{
    display: flex;
    flex: 3;
    flex-direction: column;
    margin-right: 10px;
    background-color: white;
    
}

.foto-banners-second-pub-img{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 5px;
}

.foto-banners-second-pub-img-1{
    display: flex;
    margin: 5px;
    flex: 1;
    border: 1px solid rgb(192, 188, 188);
}

.foto-banners-second-pub-img-2{
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 5px;
    color: black;
}

.foto-banners-second-pub-img-2 h3{
    font-size: 25px;
    color: black;
}

.date{
    display: flex;
    
}

.date-p{
    margin-right: 30px;
    margin-bottom: 5px;
    color: grey;
}

.msg{
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 25px;
    color: black;
}

.msg a{
    color: blue;
}

.foto-banners-second-txt{
    display: flex;
    flex-direction: column;
    flex: 2;
    background-color: white;
    /* border: 1px solid rgb(192, 188, 188); */
    height: 80%;
}

.foto-banners-second-txt1{
    display: flex;
    justify-content: space-between;
    flex: 1;
    margin: 5px;
    margin-right: 10px;
    /* border: 1px solid grey; */
}

.foto-banners-second-txt1-foto{
    display: flex;
    flex: 1;
    border: 1px solid rgb(192, 188, 188);
}

.foto-banners-second-txt1-text{
    display: flex;
    flex: 2;
    flex-direction: column;
    width: 100%;
    margin-right: 10px;
}

.foto-banners-second-txt1-text h4{
    display: flex;
    color: black;
    margin-left: 5px;
    margin-right: 10px;
}

.foto-banners-second-txt1-text-data{
    display: flex;
}

.data-p{
    color: grey;
    font-size: 7px;
    margin-top: 25px;
    margin-left: 5px;
    margin-right: 15px;
}

.foto-banners-terceira{
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: white;
    margin-top: 15px;
    margin-bottom: 25px;
}

.foto-banners-terceira .foto-banners-second-pub{
    display: flex;
    flex: 1;
}

.foto-banners-terceira .foto-banners-second-txt{
    display: flex;
    flex: 1;
}

aside {
    display: flex;
    flex: 1;
    margin-left: 10px;
}

.corpo-aside{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60%;
}

.corpos-1{
    display: flex;
    flex-direction: column;
}

.redes-aside{
    display: flex;
    flex-direction: column;
    height: 11%;
    background-color: white;
}

.titre-redes-aside{
    display: flex;
    height: 30px;
    align-items: center;
    background-color: rgba(212, 208, 208, 0.333);
    border:  1px solid rgb(192, 188, 188);
}

.titre-redes-aside h3{
    color: grey;
    margin-left: 5px;
}

.icon-redes-aside{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border: 1px solid rgb(192, 188, 188);
}

.icon-redes-aside ul{
    display: flex;
    
}


.noticias-aside{
    display: flex;
    flex: 2;
    flex-direction: column;
    margin-top: 15px;
    background-color: white;
}

.titre-redes-aside2{
    display: flex;
    height: 30px;
    align-items: center;
    background-color: rgba(212, 208, 208, 0.333);
    border:  1px solid rgb(192, 188, 188);
}

.titre-redes-aside2 h3{
    color: grey;
    margin-left: 5px;
}

.conteudo-noticias-aside{
    display: flex;
flex-direction: column;
    flex: 90%;
}

.text-noticias-aside{
    display: flex;
    flex: 1;
    align-items: center;
    border-top: 1px solid rgb(192, 188, 188);
}

.text-noticias-aside a{
    color: rgb(54, 43, 43);
    font-size: 17px;
    margin: 5px;
}

.corpos-2{
    display: flex;
    
    flex-direction: column;
    margin-top: 15px;
    background-color: white;
}

.titre-corpos2{
    display: flex;
    height: 30px;
    align-items: center;
    background-color: rgba(212, 208, 208, 0.333);
    border:  1px solid rgb(192, 188, 188);
}

.titre-corpos2 h3{
    color: grey;
    margin-left: 5px;
}

.contenu-corpos2{
    display: flex;
   flex-direction: column;
   width: 100%;
}
.h3-contenu-corpos2{
    color: black;
    margin-top: 10px;
    margin-left: 5px;
    font-size: 9px;
}

.image-contenu-corpos2{
    display: flex;
    justify-content: space-between;
}

.img-contenu-corpos2{
    display: flex;
    flex: 1;
    margin-left: 3px;
    margin-right: 3px;
}

.segundo-h3-contenu-corpos2{
    color: black;
    font-size: 9px;
    margin-left: 5px;
}

.ler-mais{
    display: flex;
    justify-content: right;
    margin-top: 5px;
}

.ler-mais a{
    color: blue;
    margin-right:3px ;
}

/* .corpos-3{
    display: flex;
    flex: 4;
    background-color: rgb(155, 135, 135);
    flex-direction: column;
    margin-top: 15px;
    background-color: white;
} */

footer{
    display: flex;
    justify-content: center;
    background-color: #1e1e1e;
    height: 600px;
    color: white;
}

.rodape{
    display: flex;
    flex-direction: column;
}

.rodape-principal{
    display: flex;
    height: 95%;
}

.rodape-principal1{
    display: flex;
    flex: 1;
    flex-direction: column;
}

.rodape-principal1-titulo{
    display: flex;
    height:  25%;
    flex-direction: column;
    justify-content: center;
}

.rodape-principal1-titulo h1{
    margin-top: px;
    margin-left: 10px;
    font-size: 25px;
}

.traco{
    display: flex;
    border: 1px solid red;
    width: 60px;
    margin-left: 10px;
    margin-top: 10px;
    
}

.rodape-principal1-titulo p{
    margin-top: 20px;
    font-size: 12px;
    color: #5c5c5c;
    margin-left: 10px;
}

.rodape-principal1-corpo{
display: flex;
flex-direction: column;
height: 75%;
/* background-color: royalblue; */
}

.devise{
    display: flex;
    flex-direction: column;
}

.missao{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 15px;
}

.visao{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 15px;
}

.valores{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 15px;
}

.devise p{
    color: #5c5c5c;
}

.rodape-principal1-corpo h2{
    margin-top: 30px;
    margin-left: 10px;
    font-size: 20px;
}

/* .atendimento{
    display: flex;
}

.atendimento ul{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.atendimento ul, li{
    color: #5c5c5c;
    margin-left: 5px;
} */

.rodape-principal2{
    display: flex;
    flex: 1;
    
}

.rodape-principal2-titulo{
    display: flex;
    height:  25%;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    
}

.rodape-principal3{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.redes-rodape{
    display: flex;
    margin-top: 70px;
}

.redes-rodape h1{
    margin-top: px;
    margin-left: 10px;
    font-size: 15px;
    flex-direction: column;
    margin-bottom: 25px;
}

.tracinho{
    display: flex;
    border: 1px solid red;
    width: 60px;
    margin-left: 10px;
    margin-top: 10px;
}

.rodape-principal3 .rodape-principal2-corpo{
    display: flex;
    margin-top: 25px;
    flex-direction: column;
}

.rodape-principal3 .rodape-principal2-corpo ul{
    display: flex;
    margin-left: 15px;
}

.auteur{
    display: flex;
    border-top: 1px solid #2c2c2c;
    height: 40px;
    line-height: 40px;
    color: #5c5c5c;
    font-size: 12px;
    margin-top: 30px;
}